@import "tailwindcss";

:root {
  --color-primary: #f97316;
  --color-secondary: #9ca3af;

  --color-info: #2563eb;
  --color-info-bg: #eff6ff;

  --color-success: #06b6d4;
  --color-success-bg: #ecfeff;

  --color-revenue: #22c55e;
  --color-revenue-bg: #f0fdf4;

  /* Backgrounds */
  --color-bg-dark: #0f0f0f;
  --color-bg-primary: #f9731626;
  --color-bg-active: #fafafa;
  /* Text */
  --color-text-primary: #f97316;
  --color-text-secondary: #6b7280;
  --color-text-tertiary: #111111;
  --color-text-white: #ffffff;
  --color-text-muted: #9ca3af;

  /* Sidebar */
  --color-sidebar-section: #4b5563;

  /* Border */
  --color-border-primary: #f973164d;
  --color-border: #e8e8e8;
}

.heading-xl {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
}

.card-heading {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text-tertiary);
}

.card-subheading {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-text-secondary);
}

.primary {
  color: var(--color-primary);
}

.border-primary {
  border-color: var(--color-border-primary);
}

.bg-primary {
  background-color: var(--color-bg-primary);
}
.text-muted {
  color: var(--color-text-muted);
}
.text-white {
  color: var(--color-text-white);
}
